#container{
    height: 400px;
    display: flex;
    align-items: end;
}

.bar{
    background-color: #f98125;
    margin: 1.5px;
    width: 10px;
}


body{
    background-color: rgb(148, 161, 148);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.array_input{
    display: flex;

}

button{
    background-color: rgba(116, 128, 236, 0.781);
    cursor: pointer;
}
